webws-services-client/src/main/resources/schemas/user.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://xpf.webws.com/ws/user" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xpf.webws.com/ws/user" targetNamespace="http://xpf.webws.com/ws/user">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xpf.webws.com/ws/user">
            <xs:element name="getUserRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="User" type="tns:User"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="User">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="role" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getUserResponse">
        <wsdl:part element="tns:getUserResponse" name="getUserResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getUserRequest">
        <wsdl:part element="tns:getUserRequest" name="getUserRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="userPort">
        <wsdl:operation name="getUser">
            <wsdl:input message="tns:getUserRequest" name="getUserRequest"> </wsdl:input>
            <wsdl:output message="tns:getUserResponse" name="getUserResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="userPortSoap11" type="tns:userPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getUser">
            <soap:operation soapAction=""/>
            <wsdl:input name="getUserRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getUserResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="userPortService">
        <wsdl:port binding="tns:userPortSoap11" name="userPortSoap11">
            <soap:address/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>